html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.4rem;
  margin: 0;
}

a {
  color: gray;
}
a.bookmarked {
  color: black;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
  color: blue;
}
.container {
  width: calc(100% - 2em);
  max-width: 1200px;
  margin: 0 auto;
}

/* i18n */

.i18n {
  display: none;
}
html:lang(en) .i18n:lang(en),
html:lang(zh-CN) .i18n:lang(zh-CN) {
  display: inline-block;
}

.i18n:lang(zh-CN) {
  font-family: "Noto Sans SC", sans-serif;
}

/* navbar */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background: white;
  border-bottom: 1px solid #ccc;
}

nav .container {
  display: flex;
}
nav h1 {
  font-size: 1rem;
  height: 4rem;
  line-height: 4rem;
  margin: 0 2em 0 0;
}
@media screen and (max-width: 800px) {
  nav h1 {
    display: none;
  }
}
nav .links {
  flex-grow: 1;
}
nav a {
  text-decoration: none;
  padding: 0.5em;
}
#lang-select {
  padding: 0.2em 0.1em;
  border-color: #ccc;
}

nav + div {
  margin-top: 5rem;
}

/* tables */

.selectors {
  margin-top: 3rem;
}

.weapon-icon {
  display: inline-block;
}
.weapon-icon::after {
  content: " ";
}

#today:not(:empty)::before {
  content: "📅";
  display: block;
  margin: 3rem 0;
  text-align: center;
}
#today:empty {
  display: none;
}

#output:not(:empty)::before {
  content: "🚜";
  display: block;
  margin: 0;
  text-align: center;
}

details,
#today,
#output,
.qtableWrapper {
  margin-top: -3rem;
  padding-top: 6rem;
}
details:target summary {
  font-weight: bold;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tr:not(.ctable tr:nth-child(1)) {
  border-top: 0.5px solid #ccc;
}
th,
td {
  padding: 0.5em 0;
  text-align: left;
  vertical-align: top;
  white-space: pre-wrap;
  box-sizing: border-box;
}
th input[type="checkbox"] {
  margin-left: 0;
}
.ctable {
  margin-top: 0.5em;
}
.ctable tr > th:nth-child(1) {
  width: 20%;
}
.qtable.highlighted {
  animation: 1s highlight;
}
/* prettier-ignore */
@keyframes highlight {
  from { background: #ffd; }
  50%  { background: #ffd; }
  to   { background: none; }
}
.qtable tr:nth-child(1) th {
  width: 1.5em;
}
.qtable tr:nth-child(1) td:nth-child(2) {
  width: 20%;
}
.qtable th + td {
  font-weight: bold;
}
.qtable tr:nth-child(1) td:nth-child(3) {
  width: 25%;
}

@media screen and (max-width: 800px) {
  th,
  td {
    display: inline-block;
    width: 100%;
  }
  .qtable tr:nth-child(1) td:nth-child(2) {
    width: calc(100% - 1.5em);
  }
  .qtable tr:nth-child(1) td:nth-child(3) {
    width: 100%;
  }
}

#clear {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

a#clear,
a.source {
  display: block;
  text-align: center;
  line-height: 2em;
  margin: 1em 20% 3em;
  text-decoration: none;
}

a#clear:hover,
a.source:hover {
  background: whitesmoke;
}
