@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&family=Noto+Sans:wght@400;700&display=swap");

body {
  font-family: "Noto Sans", "Noto Sans SC", sans-serif;
}

a:hover {
  cursor: pointer;
  color: blue;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.i18n {
  display: none;
}
html:lang(en) .i18n.en,
html:lang(zh-CN) .i18n.zh-CN {
  display: inline-block;
}

/* tables */

details {
  margin-top: 2em;
}
table,
th,
td {
  border-collapse: collapse;
  border: 0.5px solid #ccc;
}
th,
td {
  padding: 0.25em 0.5em;
  vertical-align: top;
}
.ctable {
  margin-top: 0.5em;
}
.ctable tr > th:nth-child(1) {
  width: 15%;
  text-align: left;
}
.ctable td {
  white-space: pre-wrap;
}
.qtable {
  margin-top: 2em;
  width: 100%;
}
.qtable tr:nth-child(1) > th {
  width: 15%;
  text-align: left;
}
.qtable tr:nth-child(1) > td:nth-child(2) {
  width: 30%;
}
td p {
  margin: 0;
}
td p + p {
  margin-top: 0.5em;
}
