:root {
  --g: 0.5rem;

  --tomorrow-background: #ffffff;
  --tomorrow-current-line: #efefef;
  --tomorrow-selection: #d6d6d6;
  --tomorrow-foreground: #4d4d4c;
  --tomorrow-comment: #8e908c;
  --tomorrow-red: #c82829;
  --tomorrow-orange: #f5871f;
  --tomorrow-yellow: #eab700; /* rgb(234, 183, 0) */
  --tomorrow-green: #718c00;
  --tomorrow-aqua: #3e999f;
  --tomorrow-blue: #4271ae;
  --tomorrow-purple: #8959a8;

  --tomorrow-night-eighties-background: #2d2d2d;
  --tomorrow-night-eighties-current-line: #393939;
  --tomorrow-night-eighties-selection: #515151;
  --tomorrow-night-eighties-foreground: #cccccc;
  --tomorrow-night-eighties-comment: #999999;
  --tomorrow-night-eighties-red: #f2777a;
  --tomorrow-night-eighties-orange: #f99157;
  --tomorrow-night-eighties-yellow: #ffcc66;
  --tomorrow-night-eighties-green: #99cc99;
  --tomorrow-night-eighties-aqua: #66cccc;
  --tomorrow-night-eighties-blue: #6699cc;
  --tomorrow-night-eighties-purple: #cc99cc;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--tomorrow-background);
    --foreground: var(--tomorrow-foreground);
    --border-color: var(--tomorrow-selection);
    --border-color-strong: var(--tomorrow-comment);
    --link: var(--tomorrow-aqua);
    --link-hover: var(--tomorrow-blue);
    --link-bookmark: var(--tomorrow-foreground);
    --link-current: var(--tomorrow-green);
    --link-recent-new: var(--tomorrow-orange);
    --link-upcoming: var(--tomorrow-comment);
    --button-background: var(--tomorrow-current-line);
    --highlight: var(--tomorrow-current-line);
    --kbd-background: var(--tomorrow-current-line);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--tomorrow-night-eighties-background);
    --foreground: var(--tomorrow-night-eighties-foreground);
    --border-color: var(--tomorrow-night-eighties-selection);
    --border-color-strong: var(--tomorrow-night-eighties-comment);
    --link: var(--tomorrow-night-eighties-aqua);
    --link-hover: var(--tomorrow-night-eighties-blue);
    --link-bookmark: var(--tomorrow-night-eighties-foreground);
    --link-bookmark: var(--tomorrow-night-eighties-green);
    --link-recent-new: var(--tomorrow-night-eighties-orange);
    --link-upcoming: var(--tomorrow-night-eighties-comment);
    --button-background: var(--tomorrow-night-eighties-current-line);
    --highlight: var(--tomorrow-night-eighties-current-line);
    --kbd-background: var(--tomorrow-night-eighties-current-line);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font: calc(var(--g) * 2) / calc(var(--g) * 3) "Noto Sans", sans-serif;
  margin: 0;
}

body.smooth {
  scroll-behavior: smooth;
}

a {
  color: var(--link);
}
a.recent-new {
  color: var(--link-recent-new);
}
a.upcoming {
  color: var(--link-upcoming);
}
a.bookmarked {
  color: var(--link-bookmark);
  font-weight: bold;
}
a.current {
  color: var(--link-current);
}
a:hover {
  cursor: pointer;
  color: var(--link-hover);
}

.container {
  width: calc(100% - 2em);
  max-width: calc(var(--g) * 140);
  margin: 0 auto;
}

.desktop {
  display: inline;
}
.mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
}

/* i18n */

.i18n {
  display: none;
}
html:lang(en) .i18n:lang(en),
html:lang(zh-CN) .i18n:lang(zh-CN) {
  display: inline-block;
}

:lang(zh-CN) {
  font-family: "Noto Sans SC", sans-serif;
}

:lang(zh-CN) em,
em:lang(zh-CN) {
  font-style: normal;
  font-weight: bold;
}

/* navbar */

nav {
  --height: calc(var(--g) * 8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--height);
  line-height: var(--height);
  background-color: var(--background);
  border-bottom: 1px solid var(--border-color);
}

nav .container {
  display: flex;
}
nav .lang-select-dropdown {
  flex-grow: 1;
}
nav .links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
nav .search input {
  transition: all 0.2s ease-out;
}
nav .search input::-webkit-calendar-picker-indicator {
  display: none;
}
nav a {
  text-decoration: none;
  padding: 0.5em;
}
#lang-select,
input[list="searchItems"] {
  padding: 0.25em 0.2em;
}

@media screen and (max-width: 800px) {
  nav a {
    padding: 0.25em;
  }
  nav .search,
  nav .search input {
    position: relative;
    left: 0;
    width: 3em;
  }
  nav .search input:focus {
    --width: 12em;
    left: calc(3em - var(--width));
    width: var(--width);
  }
}

input[type="radio"],
input[type="checkbox"] {
  margin: calc(0.2rem + var(--g) * 0.5) 0.25rem 0 0;
  width: 0.8rem;
  height: 0.8rem;
}

/* tables */

nav + div {
  margin-top: calc(var(--g) * 10);
}

#selectors {
  margin-top: calc(var(--g) * 12);
}

.weapon-icon {
  display: inline-block;
}
.weapon-icon::after {
  content: " ";
}

#character,
#weapon,
#enemies,
#today,
#output {
  display: block;
  margin-top: calc(var(--g) * 6);
  scroll-margin-top: calc(var(--g) * 12);
}
details.section {
  border: 1px solid var(--border-color);
  border-radius: calc(var(--g) / 2);
  padding: var(--g) calc(var(--g) * 2);
}
summary {
  line-height: calc(var(--g) * 4);
  cursor: pointer;
}
summary:hover {
  color: var(--link-hover);
}
.timezone-selector {
  line-height: calc(var(--g) * 4);
}
.timezone-selector label {
  display: inline-block;
  margin-right: 1.5em;
}
.timezone-selector span {
  white-space: pre-wrap;
}

.highlighted {
  animation: 1s highlight;
}
/* prettier-ignore */
@keyframes highlight {
  from { background: #ffd; }
  50%  { background: #ffd; }
  to   { background: none; }
}

table {
  border-spacing: 0;
  width: 100%;
  margin-top: var(--g);
}
th,
td {
  padding: var(--g) var(--g) var(--g) 0;
  text-align: left;
  vertical-align: top;
}
td:last-child {
  padding-right: 0;
}
td {
  white-space: pre-wrap;
}

th span {
  max-width: calc(100% - 2em);
}

#today .domainWeekday {
  display: none;
}

@media screen and (min-width: 801px) {
  th,
  td {
    border-top: 1px solid var(--border-color);
  }
  th {
    width: calc(var(--g) * 25);
  }
  .qtable td:nth-of-type(1) {
    width: calc(var(--g) * 35);
  }
}

@media screen and (max-width: 800px) {
  th,
  td {
    display: inline-block;
    width: 100% !important;
    padding: 0.5em 0;
  }
  tr th:first-child {
    border-top: 1px solid var(--border-color-strong);
  }
  tr td:first-child {
    border-top: 1px solid var(--border-color);
  }
  th + td,
  td + td {
    padding-top: 0;
  }
  td:empty {
    display: none;
  }
}

#today .selected,
#output .selected {
  background-color: var(--highlight);
}

.gem,
.billet {
  display: none;
}

.show-gems .gem,
.show-billets .billet {
  display: table-row;
}

details.alternative summary {
  list-style: none;
  color: var(--link);
  font-weight: bold;
  line-height: calc(var(--g) * 3);
}

details.alternative[open] summary {
  color: var(--foreground);
  font-weight: normal;
}

/* ******************** Footers ******************** */

footer {
  margin: calc(var(--g) * 6) 0;
}

@media screen and (min-width: 801px) {
  footer {
    display: flex;
  }
  .switches {
    flex: 0 0 40%;
    margin-bottom: calc(var(--g) * 2);
  }
  .declarations {
    flex: 0 0 60%;
    text-align: right;
  }
  .declarations ruby > rt {
    line-height: 0.7rem;
  }
  .declarations span[lang="en"] {
    margin-top: calc(var(--g) * 0.5 - 0.7rem);
  }
}

.switches label {
  display: block;
  height: calc(var(--g) * 3);
}

footer kbd {
  font-family: "Courier Prime", monospace !important;
  background-color: var(--kbd-background);
  margin-left: 0.5em;
  padding: 0 0.25em;
}
