:root {
  --tomorrow-background: #ffffff;
  --tomorrow-current-line: #efefef;
  --tomorrow-selection: #d6d6d6;
  --tomorrow-foreground: #4d4d4c;
  --tomorrow-comment: #8e908c;
  --tomorrow-red: #c82829;
  --tomorrow-orange: #f5871f;
  --tomorrow-yellow: #eab700; /* rgb(234, 183, 0) */
  --tomorrow-green: #718c00;
  --tomorrow-aqua: #3e999f;
  --tomorrow-blue: #4271ae;
  --tomorrow-purple: #8959a8;

  --tomorrow-night-eighties-background: #2d2d2d;
  --tomorrow-night-eighties-current-line: #393939;
  --tomorrow-night-eighties-selection: #515151;
  --tomorrow-night-eighties-foreground: #cccccc;
  --tomorrow-night-eighties-comment: #999999;
  --tomorrow-night-eighties-red: #f2777a;
  --tomorrow-night-eighties-orange: #f99157;
  --tomorrow-night-eighties-yellow: #ffcc66;
  --tomorrow-night-eighties-green: #99cc99;
  --tomorrow-night-eighties-aqua: #66cccc;
  --tomorrow-night-eighties-blue: #6699cc;
  --tomorrow-night-eighties-purple: #cc99cc;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--tomorrow-background);
    --foreground: var(--tomorrow-foreground);
    --border-color: var(--tomorrow-selection);
    --link: var(--tomorrow-aqua);
    --link-hover: var(--tomorrow-blue);
    --link-bookmark: var(--tomorrow-foreground);
    --link-recent-new: var(--tomorrow-orange);
    --link--upcoming: var(--tomorrow-comment);
    --button-background: var(--tomorrow-current-line);
    --highlight: var(--tomorrow-current-line);
    --kbd-background: var(--tomorrow-current-line);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--tomorrow-night-eighties-background);
    --foreground: var(--tomorrow-night-eighties-foreground);
    --border-color: var(--tomorrow-night-eighties-selection);
    --link: var(--tomorrow-night-eighties-aqua);
    --link-hover: var(--tomorrow-night-eighties-blue);
    --link-bookmark: var(--tomorrow-night-eighties-foreground);
    --link-recent-new: var(--tomorrow-night-eighties-orange);
    --link--upcoming: var(--tomorrow-night-eighties-comment);
    --button-background: var(--tomorrow-night-eighties-current-line);
    --highlight: var(--tomorrow-night-eighties-current-line);
    --kbd-background: var(--tomorrow-night-eighties-current-line);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font: 1rem/1.4rem "Noto Sans", sans-serif;
  margin: 0;
}

.smooth {
  scroll-behavior: smooth;
}

a {
  color: var(--link);
}
a.recent-new {
  color: var(--link-recent-new);
}
a.upcoming {
  color: var(--link-upcoming);
}
a.bookmarked {
  color: var(--link-bookmark);
  font-weight: bold;
}
a:hover {
  cursor: pointer;
  color: var(--link-hover);
}

.container {
  width: calc(100% - 2em);
  max-width: 1200px;
  margin: 0 auto;
}

.desktop {
  display: inline;
}
.mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
}

/* i18n */

.i18n {
  display: none;
}
html:lang(en) .i18n:lang(en),
html:lang(zh-CN) .i18n:lang(zh-CN) {
  display: inline-block;
}

:lang(zh-CN) {
  font-family: "Noto Sans SC", sans-serif;
}

:lang(zh-CN) em,
em:lang(zh-CN) {
  font-style: normal;
  font-weight: bold;
}

/* navbar */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background-color: var(--background);
  border-bottom: 1px solid var(--border-color);
}

nav .container {
  display: flex;
}
nav .lang-select-dropdown {
  flex-grow: 1;
}
nav .links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
nav .search input {
  transition: all 0.2s ease-out;
}
nav .search input::-webkit-calendar-picker-indicator {
  display: none;
}
nav a {
  text-decoration: none;
  padding: 0.5em;
}
#lang-select,
input[list="searchItems"] {
  padding: 0.25em 0.2em;
}

@media screen and (max-width: 800px) {
  nav a {
    padding: 0.25em;
  }
  nav .search,
  nav .search input {
    position: relative;
    left: 0;
    width: 3em;
  }
  nav .search input:focus {
    --width: 12em;
    left: calc(3em - var(--width));
    width: var(--width);
  }
}

nav + div {
  margin-top: 5rem;
}

/* tables */

#selectors {
  margin-top: 3rem;
}

.weapon-icon {
  display: inline-block;
}
.weapon-icon::after {
  content: " ";
}

#character,
#weapon,
#enemies,
#today {
  display: block;
}
#character,
#weapon,
#enemies,
#today,
#output {
  margin-top: -3rem;
  padding-top: 6rem;
}
details.section {
  border: 1px solid var(--border-color);
  padding: 0.75em 1em;
}
summary {
  cursor: pointer;
}
details.section:target summary {
  font-weight: bold;
}
.timezone-selector label {
  display: inline-block;
  margin-right: 1.5em;
}
.timezone-selector input[type="radio"] {
  margin-left: 0;
}
.timezone-selector span {
  white-space: pre-wrap;
}
table {
  width: 100%;
  border-spacing: 0;
}
#output:not(:empty) {
  border-bottom: 1px solid var(--border-color);
}
th,
td {
  padding: 0.5em 0.5em 0.5em 0;
  text-align: left;
  vertical-align: top;
}
@media screen and (min-width: 801px) {
  th,
  td {
    border-top: 1px solid var(--border-color);
  }
}
td:last-child {
  padding-right: 0;
}
td {
  white-space: pre-wrap;
}
th input[type="checkbox"] {
  margin: 0.4em 0.5em 0;
}
th label {
  display: flex;
  align-items: flex-start;
}
label div {
  flex-grow: 1;
}
th span {
  max-width: calc(100% - 2em);
}
.ctable,
.qtable,
.timezone-selector {
  margin-top: 1em;
}

#today .domainWeekday {
  display: none;
}

.ctable tr > th:nth-child(1) {
  width: 20%;
}
#enemies tr:nth-child(1) td:nth-child(2) {
  width: 30%;
}

.highlighted {
  animation: 1s highlight;
}
/* prettier-ignore */
@keyframes highlight {
  from { background: #ffd; }
  50%  { background: #ffd; }
  to   { background: none; }
}
.qtable tr:nth-child(1) th {
  width: 20%;
}
.qtable tr:nth-child(1) td:nth-child(2) {
  width: 30%;
}

@media screen and (max-width: 800px) {
  th,
  td {
    display: inline-block;
    width: 100% !important;
    padding: 0.5em 0;
  }
  tr th:first-child,
  tr td:first-child {
    border-top: 1px solid var(--border-color);
  }
  th input[type="checkbox"] {
    margin-left: 0;
  }
  th + td,
  td + td {
    padding-top: 0;
  }
  td:empty {
    display: none;
  }
}

#today .selected,
#output .selected {
  background-color: var(--highlight);
}

.gem,
.billet {
  display: none;
}

.show-gems .gem,
.show-billets .billet {
  display: table-row;
}

details.alternative summary {
  list-style: none;
  color: var(--link);
  font-weight: bold;
}

details.alternative[open] summary {
  color: var(--foreground);
  font-weight: normal;
}

#output:empty + #clear {
  display: none;
}

a#clear {
  display: block;
  margin: 2rem auto;
  padding: 0.5em 0;
  text-align: center;
  text-decoration: none;
}

a#clear:hover {
  background: var(--button-background);
}

/* ******************** Footers ******************** */

footer {
  margin: 3rem 0;
}

@media screen and (min-width: 801px) {
  footer {
    display: flex;
  }
  .switches,
  .keyboard {
    flex: 1 0 30%;
  }
  .declarations {
    flex: 0 0 40%;
    text-align: right;
  }
  .declarations ruby > rt {
    line-height: 0.7rem;
  }
  .declarations span[lang="en"] {
    margin-top: -0.7rem;
  }
}

.switches ul {
  margin: 0;
  padding: 0;
}

.switches li {
  list-style: none;
}

@media screen and (max-width: 800px) {
  .keyboard {
    display: none;
  }
  .declarations {
    text-align: center;
    margin-top: 1em;
  }
}

.keyboard dl {
  display: grid;
  grid-template-columns: max-content auto;
  margin: 0;
}
.keyboard dt {
  grid-column-start: 1;
}
.keyboard dd {
  grid-column-start: 2;
  margin-left: 1em;
}

kbd,
:lang(zh-CN) kbd {
  font-family: "Courier Prime", monospace;
  background-color: var(--kbd-background);
  padding: 0 0.15em;
}
